<div layout="row">
    <md-card flex="50">
        <md-card-title>
            <md-card-title-text>
                <span class="md-headline">Web III: Assignment 02</span>
                <span class="md-headline"><a href="https://github.com/vire220/mccreadie-asg02.git">GitHub</a></span>
            </md-card-title-text>
        </md-card-title>
        <md-card-content>
            <p>This assignment uses Angular Material. It is an implementation of Google Material Design and uses some FlexBox compenents. The assignment also uses the EJS engine for rendering pages and gives us a PHP-esque system for outputing content and
                logic to the HTML document. The login system uses the passport module to handle sessions and authentication.</p>
            <div layout="row">
                <div flex>
                    <h3>Team Members</h3>
                    <md-list>
                        <md-list-item>
                            Alex McCreadie
                        </md-list-item>
                        <md-list-item>
                            Brandon Devaleriola
                        </md-list-item>
                        <md-list-item>
                            Julianna Rees
                        </md-list-item>
                        <md-list-item>
                            Zeyad Zaher
                        </md-list-item>
                    </md-list>
                </div>
                <div flex>
                    <h3>Scotch.io References</h3>
                    <md-list>
                        <md-list-item>
                            <div class="md-list-item-text">
                                <p><a href="https://scotch.io/tutorials/build-a-restful-api-using-node-and-express-4">Build a RESTful API Using Node and Express 4</a></p>
                            </div>
                        </md-list-item>
                        <md-list-item>
                            <div class="md-list-item-text">
                                <p><a href="https://scotch.io/tutorials/easy-node-authentication-setup-and-local">Easy Node Authentication: Setup and Local</a></p>
                            </div>
                        </md-list-item>
                        <md-list-item>
                            <div class="md-list-item-text">
                                <p><a href="https://scotch.io/tutorials/creating-a-single-page-todo-app-with-node-and-angular">Creating a Single Page Todo App with Node and Angular</a></p>
                            </div>
                        </md-list-item>
                    </md-list>
                </div>
                <div flex>
                    <h3>Resources</h3>
                    <md-list flex>
                        <md-list-item>
                            <p><a href="https://material.angularjs.org/latest/">Angular Material</a></p>
                        </md-list-item>
                    </md-list>
                </div>
            </div>
        </md-card-content>
    </md-card>
</div>