<div>

    <!-- show any messages that come back with authentication -->
    <% if (message.length> 0) { %>
        <div class="alert alert-danger">
            <%=m essage %>
        </div>
        <% } %>

            <form action="/login" method="post">
                <div>
                    <label>Usernmae</label>
                    <input type="text" name="username">
                </div>
                <div>
                    <label>Password</label>
                    <input type="password" name="password">
                </div>

                <button type="submit">Login</button>
            </form>

            <hr>

</div>