     <div flex layout="column">
        <h1 class="md-display-1 md-padding">Messages</h2>
        <div ng-repeat="m in msg | orderBy:dateSort:true">
            <md-card layout="row" layout-align="center center">
                <div flex="20" flex-order="1">
                    <md-card-title layout="column">
                        <md-card-title-text>
                            <span class="md-headline">{{ m.contact.firstname }} {{ m.contact.lastname }}</span>
                            <span class="md-subhead"><a href="" ng-click="showAdvanced($event, m.id)">{{ m.contact.university.name }}</a></span>
                        </md-card-title-text>
                    </md-card-title>
                </div>
                <div flex="80" flex-order="2">
                    <md-card-contentlayout="column">
                        <p>{{ m.category }}</p>
                        <p>{{ m.date }}</p>
                        <p>{{ m.content }}</p>
                        </md-card-content>            
                </div>
            </md-card>


        </div>
    </div>

    <div hide-gt-sm layout="row" layout-align="center center" flex>
        <md-checkbox ng-model="customFullscreen" aria-label="Fullscreen Custom Dialog">Force Custom Dialog Fullscreen</md-checkbox>
    </div>