<div flex layout="column">
    <h1 class="md-display-1 md-padding">Todo</h2>
        <div ng-repeat="t in todos | orderBy:'date'">
            <md-card layout="row" layout-align="center center">
                <div flex>
                    <label>
                        <input type="checkbox" ng-click="deleteTodo(t.id)">
                    </label>
                    <md-card-title layout="column">
                        <md-card-title-text>
                            <div class="md-list-item-text" layout="column">
                                <h3>{{ t.date }}</h3>
                                <h4>{{ t.priority }}, {{ t.description }}</h4>
                            </div>
                        </md-card-title-text>
                    </md-card-title>
                </div>
                
            </md-card>


        </div>
    </div>