<!DOCTYPE html>
<html lang="en">

<head>
    <% include partials/header %>

    <script>var u = {};
        u.username = "<%= user.username %>";
        u.id = "<%= user.id %>";
        u.firstname = "<%= user.firstname %>";
        u.lastname = "<%= user.lastname %>";
    </script>
</head>

<body ng-app="EmployeeApp" ng-controller="MainController" ng-cloak layout="column">

    <md-toolbar layout="row">
        <h3>Assignment 02</h3>
    </md-toolbar>

    <div flex layout="row">

        <md-sidenav md-is-locked-open="true" class="md-whiteframe-z2">
            <md-list flex>
                <md-list-item>
                    <p><a href="/">Home</a></p>
                </md-list-item>
                <md-list-item>
                    <p><a href="/messages">Messages</a></p>
                </md-list-item>
                <md-list-item>
                    <p><a href="/books">Books</a></p>
                </md-list-item>
                <md-list-item>
                    <p><a href="/todos">Todos</a></p>
                </md-list-item>
                <md-list-item>
                    <p><a href="/logout">Log Out</a></p>
                </md-list-item>
            </md-list>
        </md-sidenav>

        <md-content flex id="content">

            <div ng-view></div>


        </md-content>


    </div>

</body>

</html>
