<!-- views/login.ejs -->
<!doctype html>
<html>

<head>
    <% include partials/header %>

</head>

<body ng-app="EmployeeApp" ng-cloak layout="column">
    
    <md-toolbar layout="row">
        <h3>Login</h3>
    </md-toolbar>
    
    <div layout="column" layout-align="none center">
        
        
    
        <!-- show any messages that come back with authentication -->
    <% if (message.length > 0) { var msg = true; %>
        <md-button flex="50" class="md-warn"><%= message %>
        </md-button>
    <% } %>
    
    

    <form action="/login" method="post">
        <md-input-container>
        <label>Username</label>
        <input required type="text" name="username" value="ehudson0">
        </md-input-container>
        <md-input-container>
        <label>Password</label>
        <input required type="password" name="password" value="VX5LO6c">
        </md-input-container>

        <md-button class="md-raised md-primary" type="submit">Login</md-button>
    </form>

</div>
</body>

</html>