<!DOCTYPE html>
<html>
<head>
    <% include partials/header %>
</head>

<body ng-app="EmployeeApp" ng-cloak layout="column">
    <md-toolbar layout="row">
        <h3>Assignment 02</h3>
    </md-toolbar>
    
    <div layout="column" layout-align="center center">
        <md-card class="md-padding">
            
            <h3 class="md-display-1">Login</h3>
    
            <% if (message.length > 0) { var msg = true; %>
                <md-button flex="50" class="md-warn"><%= message %>
                </md-button>
            <% } %>
    
            <form action="/login" method="post">
                <md-input-container>
                    <label>Username</label>
                    <input required type="text" name="username">
                </md-input-container>
                <md-input-container>
                    <label>Password</label>
                    <input required type="password" name="password">
                </md-input-container>
        
                <md-button class="md-raised md-primary" type="submit">Login</md-button>
            </form>
        </md-card>
    </div>
</body>
</html>