<!-- views/login.ejs -->
<!doctype html>
<html>

<head>
    <% include partials/header %>

</head>

<body ng-app="EmployeeApp" ng-controller="LoginController" ng-cloak layout="column">
    <h1>Login Test</h1>
    
        <!-- show any messages that come back with authentication -->
    <% if (message) { %>
        <h2>Flash: <%= message %></h2>
    <% } %>

    <form action="/login" method="post">
        <label>Username</label>
        <input type="text" name="username" value="ehudson0">
        <label>Password</label>
        <input type="password" name="password" value="VX5LO6c">

        <button type="submit">Login</button>
    </form>

</body>

</html>